:root {
  --primary: #0091ff;
  --dark: #061b28;
  --gray: #756388;
  --light: #ffffff;
}

body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-section {
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 40px;
  width: calc(80% - 50px);
  z-index: 2;
}

.home-section .text {
  display: inline-flex;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.button-tambah {
  justify-content: end;
}

.navbar {
  background-color: tomato;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
